<!DOCTYPE html>
<!--  
References: https://www.thymeleaf.org/doc/articles/layouts.html

 -->
<html xmlns:th="www.thymeleaf.org">
<head th:fragment="html_head">
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" />
</head>
<header th:fragment="nav_bar">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="/hotels/home">Hotels Finder</a>
      </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li class="active"><a href="/airline">Book a Flight</a></li>
      <li class="active"><a href="/carrentals">Car Rentals</a></li>
      <li class="active"><a href="/deals">Package Deals</a></li>
      <li class="active"><a href="/hotels/login">Login</a></li>
    </ul>
      </div>
   </div>
 </div>
 <br /> <br /> <br />  
</header>
<body>
  <div th:fragment="footer" class="text-center">
   		<p> Hotels Finder - Copyright &copy;</p>
   </div>
</body>
</html>