<!DOCTYPE html>

<html xmlns:th="www.thymeleaf.org">
<head th:replace="fragments :: html_head">
<title>Hotels Home</title>
</head>

<header th:replace="fragments :: nav_bar"> </header>

<body>

   <div class="container">
    <h1 style="text-align:center"> Book a Hotel </h1>
    <hr />
    <h5> Where to?</h5>
     
      <form action="/hotels/results" method="post">
         <label for="city"> City:  </label>
         <input type="text" id="city" name="city" placeholder="Monterey Bay"> 
         <br /> <br /> 
         
         <p> Datepicker Here. </p>
         <label for="checkInDate"> Check-in:  </label>
         <input type="text" id="checkInDate" name="checkInDate" placeholder="6/01/2021">
         <label for="checkOutDate"> Check-out:  </label>
         <input type="text" id="checkOutDate" name="checkOutDate" placeholder="6/07/2021"> 
         <br /> <br />
    
          <label for ="rooms"> Rooms: </label>
          <select id="rooms" name="rooms"> 
            <option value=1> 1 </option>
            <option value=2> 2 </option>
            <option value=3> 3 </option>
            <option value=4> 4 </option>
          </select>
          <br /> <br />
          
         <input type="submit" value="Submit">
      </form>
      
   </div>
   
   <div th:replace="fragments :: footer" class="text-center"></div>
   
</body>
</html>