<!DOCTYPE html>
<!--  
References: https://www.thymeleaf.org/doc/articles/layouts.html

 -->
<html xmlns:th="www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" />
<head>
<meta charset="ISO-8859-1">
<title>Hotels Home</title>
</head>

<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="#">Hotels Finder</a>
      </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="active"><a href="#">Login</a></li>
    </ul>
      </div>
   </div>
 </div>
 <br /> <br /> <br />  
</header>

<body>

   <div class="container">
    <h1 style="text-align:center"> Book a Hotel </h1>
    <hr />
    <h5> Where to?</h5>
     
      <form action="/hotels/results" method="post">
         <label for="city"> City:  </label>
         <input type="text" id="city" name="city" placeholder="Monterey Bay"> 
         <br /> <br /> 
         
         <p> Datepicker Here. </p>
         <label for="checkInDate"> Check-in:  </label>
         <input type="text" id="checkInDate" name="checkInDate" placeholder="6/01/2021">
         <label for="checkOutDate"> Check-out:  </label>
         <input type="text" id="checkOutDate" name="checkOutDate" placeholder="6/07/2021"> 
         <br /> <br />
    
          <label for ="rooms"> Rooms: </label>
          <select id="rooms" name="rooms"> 
            <option value=1> 1 </option>
            <option value=2> 2 </option>
            <option value=3> 3 </option>
            <option value=4> 4 </option>
          </select>
          <br /> <br />
          
         <input type="submit" value="Submit">
      </form>
      
   </div>
   
</body>
</html>